.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
publish/**
.gitignore
.yarnrc
webpack.config.js
webpack.config.test.js
vsc-extension-quickstart.md
**/tsconfig.*.json
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/libs/*.ts
.eslintignore
.eslintrc.js
*.log
.prettierignore
README.md
tsconfig.build.types.json
tsconfig.eslint.json
tsconfig.json
tsconfig.*.json
tsconfig.tsbuildinfo
.rush
scripts/**
babel.config.json
images/docs/**
.env